*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact{

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:url('orchid-4080258__340.webp') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.contact .image{
    flex:1 1 40rem; 
}
.contact .image img{
    width:80%;
}
.contact.content{
    flex:1 1 40rem;
}
.contact .content h1{
    font-size: 3rem;
    color:#444;
}
.contact.content p{
    font-size: 1.4rem;
    color:#666;
    padding:1rem 0;
}
